:root {
    --white: #FFFFFF;
    --black: #333;
    --mint: #04ddb2;
    --light-gray: #767676;
    --usm: 10px;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
  }

*{
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
  }

  a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    font-weight: bold;
}



.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.logo img {
    width:  55px;
    height: 25px;
}

button {
    background-color: var(--mint);
    border-radius: 80px;
    border: none;
    color: var(--white);
    font-size: var(--usm);
    font-weight: bold;
    width: 72px;
    height: 25px;
    cursor: pointer;
}

.menu li {
    display: inline;
    list-style: none;
    padding-left:15px;
    padding-right:15px;  
    color: var(--black);
    font-size: var(--sm);
}

.title {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-size: var(--lg);
    justify-content: center;
}

.green {
    color: var(--mint);
}

main {
    flex: 1;
}

footer {
    color: var(--black);
    border-top: 0.01rem var(--light-gray) solid;
    /*width: 80vw;
    padding-left: 50px; */
}

.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap; /*will let the footer wrap into multiple rows based on the viewport size */
    justify-content: center;
    
}

.small-logo img {
    width: 50px;
    height: 20px;
}

.ft-title {
    font-weight: bold;
    font-family: 'Helvetica', serif;
    font-size: 1.375rem;
    padding-bottom: 1rem;
}

.footer-main-item {
    padding: 2.5rem;
    min-width: 12.5rem;
}

ul {
    list-style: none;
}

.footer-main-item li {
    padding: 5px 5px;
    padding-left: 0;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    
}

.icon-footer {
    color: var(--white);
    background-color: var(--mint);
    border-radius: 30px;
    line-height: 20px;
    height: 22px;
    width: 22px;
    margin: auto 3px;
    font-size: var(--sm);
    font-weight: bold;
    text-align: center;
    align-items: center;
}



